body {
    margin: 0;
    font-family: Georgia, "Times New Roman", serif;
    background-color: #b9dfe9;
    color: #000;
}

h1 {
    text-align: center;
    font-size: 52px;
    margin: 30px 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 34px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 22px;
    margin-left: 10px;
}

article {
    margin-bottom: 40px;
}

p {
    margin: 15px 20px;
    line-height: 1.5;
}

#paragraph2 {
    width: 49%;
    margin: 25px 20px;
    padding: 22px 50px;
    border: 4px solid #148a00;
    background-color: #ffffff;
    line-height: 2.0;
}

.blue {
    background-color: #060a81;
    color: #ffffff;
    padding: 16px 20px;
    margin: 20px;
    border: 1px solid #000;
}

ol {
    margin: 15px 20px;
    padding-left: 20px;
    font-size: 18px;
    list-style-type: decimal-leading-zero;
    line-height: 1.5;
}

ol li::marker {
    font-size: 1.3em;
}

ol li a {
    color: #0000ff;
    text-decoration: underline;
}

a {
    color: #0000ff;
}

a[href*="w3schools"] {
    color: #b30000;
}

table {
    border-collapse: collapse;
    margin: 20px;
    width: 38%;
}

th,
td {
    border: 1px solid #000;
    padding: 8px 10px;
}

th {
    background-color: #d9d9d9;
    text-align: left;
}

td {
    background-color: #eeeeee;
}